@import "tailwindcss";

@theme {
  --color-dkt-bg: #FFFAF1;
  --color-dkt-soft: #FFF1F2;
  --color-dkt-primary: #FB7185;
  --color-dkt-text: #475569;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-dkt-bg);
    color: var(--color-dkt-text);
  }
}

@layer utilities {
  .animate-fade-in-up {
    animation: fadeInUp 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    opacity: 0;
    transform: translateY(30px);
  }
  
  .animate-delay-100 { animation-delay: 100ms; }
  .animate-delay-200 { animation-delay: 200ms; }
  .animate-delay-300 { animation-delay: 300ms; }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes flowerPop {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}